@charset 'UTF-8';

*{
    font-family: 'Montserrat';
}

@font-face {
    font-family: 'Montserrat';
    src: url('fontes/Montserrat/Montserrat-Light.ttf') format('ttf'), url('fontes/Montserrat/Montserrat-Light.otf') format('otf'), url('fontes/Montserrat/Montserrat-Light.woff') format('woff');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fontes/Montserrat/Montserrat-Regular.ttf') format('ttf'), url('fontes/Montserrat/Montserrat-Regular.otf') format('otf'), url('fontes/Montserrat/Montserrat-Regular.otf') format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fontes/Montserrat/Montserrat-Medium.ttf') format('ttf'), url('fontes/Montserrat/Montserrat-Medium.otf') format('otf'), url('fontes/Montserrat/Montserrat-Medium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fontes/Montserrat/Montserrat-SemiBold.ttf') format('ttf'), url('fontes/Montserrat/Montserrat-SemiBold.ttf') format('otf'), url('fontes/Montserrat/Montserrat-SemiBold.woff') format('woff');
    font-style: normal;
    font-weight: 600;
}
html{
    scroll-behavior: smooth;
}

.logo{
    width: 15%;
}

p{
    font-size: 16px;
    color: #a6a6ab;
    font-weight: 400;
}

h2{
    font-family: juicy-pro-standard, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 38px;
    font-weight: 600;
}

h3{
    font-size: 16px;
    
}

a{
    font-weight: 600;
}

.accordion-item{
    background-color: transparent !important;
}

.accordion-button:focus{
    box-shadow: none;
}

.accordion-button::after{
    background-image: url(img/+\ copy\ 4.png);
    background-size: contain;
}

.accordion-button:not(.collapsed)::after{
    background-image: url(img/-.png);
}

.carousel-control-prev-icon{
    background-image: url(img/arror-left.svg);
}

.carousel-control-next-icon{
    background-image: url(img/arror-right.svg);
}

.carousel-indicators .active{
    background-color: #f29590 !important;
}

.logo__expression{
    width: fit-content !important;
}

@media (max-width: 1200px){
    .bg__img{
        background-image: none !important;
    }
}

@media (min-width: 1200px){
    .img__r{
        display: none;
    }
}

@media (max-width: 768px){
    h2{
        font-size: 28px;
    }

    .logo{
        width: 30%;
    }

    .logo__footer{
        width: 30% !important;
    }
}

@media (max-width: 992px){
    .banner__section{
        margin-top: 0px !important;
    }

    .navbar__top{
        background-color: #fbded6 !important;
    }

    .logo{
        width: 25%;
    }
}

@media (min-width: 993px) and (max-width: 1400px){
    .banner__section{
        margin-top: -92px !important;

    }
}

@media (min-width:0px) and (max-width: 576px){

    .logo{
        width: 45%;
    }

    .logo__footer{
        width: 45% !important;
    }

    .img__tratamentos{
        width: 55% !important;
    }
}

